.show_users_by_group {
  width: 100%;
}
.show_users_by_group .table-container table thead th {
  padding: 5px 10px;
  background-color: #f6f7f8;
  color: #5f6368;
  text-transform: capitalize;
}
.show_users_by_group .table-container {
  overflow-x: auto;
  display: block;
}
.show_users_by_group .table-container table {
  background-color: #a7a7a7;
  text-align: start;
  overflow-x: auto;
  text-transform: lowercase;
  width: 100%;
  min-width: 910px;
  max-width: 1050px;
}

.show_users_by_group .table-container td {
  background-color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.show_users_by_group .table-container td,
.show_users_by_group .table-container th {
  padding: 10px;
}
.show_users_by_group .table-container td span {
  padding: 5px 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: white;
  border: 2px solid;
  border-radius: 5px;
}
.show_users_by_group > button {
  padding: 5px 10px;
  border: 2px solid var(--nav-black-shadow);
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  justify-self: center;
  gap: 10px;
  cursor: pointer;
}

.show_users_by_group > button span {
  display: block;
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
}

.show_users_by_group > button span.non-deleted {
  background-color: var(--error-color);
}
.show_users_by_group > button span::before {
  width: 15px;
  height: 15px;
  background-color: white;
  position: relative;
  content: "";
  display: block;
  border-radius: 50%;
}

.show_users_by_group > button span.deleted {
  background-color: var(--correct-color);
}

.show_users_by_group > button span.non-deleted::before {
  right: calc(-100% + 18px);
  top: 2.5px;
}

.show_users_by_group > button span.deleted::before {
  left: calc(0% + 2px);
  top: 2.5px;
}
