.login {
  background-color: var(--primary-white);
  box-shadow: 0 0 10px 0px var(--nav-black-shadow);
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20rem;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
}
.login .error {
  color: var(--error-color);
  font-size: 0.8rem;
  font-weight: bold;
}
.login h1 {
  width: 100%;
  text-align: start;
}
.login .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.login .form .input {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(64, 64, 64);
}
.login .form .input:focus-within {
  border: 1px solid var(--primary-bleu);
  outline: 2px solid var(--primary-bleu);
}
.login .form .input input {
  padding: 15px 20px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: start;
  font-size: 1rem;
}
.login .form .input.password input {
  width: 80%;
}
.login .form .input .input-titel {
  position: absolute;
  top: 25%;
  left: 10px;
  color: #000;
  pointer-events: none;
}
.login .form .input:focus-within .input-titel,
.login .form .input .input-titel.input-full {
  top: 0;
  font-size: 0.8rem;
}
.login .form .input span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 2px 10px;
  color: var(--primary-bleu);
}
.login .form input[type="submit"] {
  color: var(--primary-white);
  background-color: var(--primary-bleu);
  border: none;
  border-radius: 40px;
  width: 100%;
  padding: 15px 40px;
  text-transform: capitalize;
  border: 2px solid var(--primary-bleu);
  font-weight: bold;
}
.login .form input[type="submit"]:hover {
  color: var(--primary-bleu);
  background-color: var(--primary-white);
}

.login .form .options span {
  margin: 0 0 0 10px;
  color: var(--primary-bleu);
}
.login span,
.login input[type="submit"] {
  cursor: pointer;
}
.login .loading-bar {
  position: absolute;
  top: 0px;
  height: 5px;
  background-color: blue;
}
.login .loading-bar.active {
  animation: loading-bar-animation 1s linear 0s infinite;
}
@keyframes loading-bar-animation {
  0% {
    left: 0;
    width: 0;
  }
  25% {
    left: 0;
    width: 40%;
  }
  50% {
    left: 30%;
    width: 30%;
  }
  75% {
    left: 70%;
    width: 10%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
