.nav_bar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px 0 var(--nav-black-shadow);
  position: fixed;
  top: 0;
  background-color: var(--background-gray-light);
  --nav-icons-color: #545454;
  --pop-up-color: #dedede;
}
.nav_bar > * {
  padding: 5px 20px;
}
.nav_bar .platform_logo {
  width: 40px;
  border-radius: 50%;
}
.nav_bar .section {
  width: calc((100% / 3));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar .left {
  justify-content: start;
  color: var(#000);
}
.nav_bar .left .container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  padding: 3px 20px 3px 3px;
  background-color: var(--primary-white);
  border-radius: 30px;
  cursor: pointer;
}

.nav_bar .rigth {
  justify-content: end;
}
.nav_bar .left img {
  width: 35px;
  background-color: black;
  border-radius: 50%;
  height: 35px;
}

.nav_bar .left i {
  color: var(--error-color);
  padding: 5px;
  border-radius: 3px;
}
.nav_bar .left i:hover {
  color: #fff;
  background-color: var(--error-color);
}
.nav_bar .left .profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_bar .rigth {
  display: flex;
  gap: 15px;
  position: relative;
}

.nav_bar .rigth i {
  color: var(--nav-icons-color);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 2px;
}
.nav_bar .rigth i:hover {
  color: var(--secondary-bleu);
}
.nav_bar .rigth .notifications {
  position: relative;
}
.nav_bar .rigth .notifications::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid var(--background-gray-light);
  position: absolute;
  top: 0px;
  left: 60%;
  background-color: var(--primary-bleu);
}

.nav_bar .rigth .notification_pop_up {
  position: absolute;
  top: 70px;
  background-color: var(--pop-up-color);
  width: 90%;
  min-width: 250px;
  height: 50vh;
  border-radius: 5px;
}
