/* :root {
  --background-gray-light: #f8f8f8;
  --primary-bleu: #5f88db;
  --primary-white: #fff;
  --secondary-bleu: #9fb0dd;
  --nav-black-shadow: #9f9f9f;
  --error-color: #b73e32;
  --correct-color: #a9c8c1;
} */
:root {
  --background-gray-light: #fafafa;
  --primary-bleu: #5f88db; /* Blue for the profile section */
  --primary-white: #fff; /* White text color */
  --secondary-bleu: #9fb0dd; /* Secondary blue color */
  --nav-black-shadow: #9f9f9fc2; /* Shadow color */
  --error-color: #ff15009c; /* Color for the logout icon */
  --error-color-background: #ff8c829c; /* Color for the logout icon */
  --correct-color-background: #80ffe14d; /* Correct color */
  --correct-color: #00ff99; /* Correct color */
  --maybe-color-background: #f4ff5a37; /* maybe color */
  --maybe-color: #c6bc00; /* maybe color */
}
* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
*::selection {
  background-color: var(--primary-bleu);
  color: #fff;
}
body {
  margin: 0;

  background-color: var(--background-gray-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
input {
  -webkit-appearance: none; /* For WebKit-based browsers like Chrome, Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Standard syntax */
}
input[type="submit"] {
  cursor: pointer;
}
