table thead th {
  padding: 5px 10px;
  background-color: #f6f7f8;
  color: #5f6368;
}

table {
  background-color: #a7a7a7;
  text-align: start;
  text-transform: capitalize;
}

table td {
  background-color: #ffffff;
}
td,
th {
  padding: 10px;
}
