.show_groups table thead th {
  padding: 5px 10px;
  background-color: #f6f7f8;
  color: #5f6368;
}

.show_groups table {
  background-color: #a7a7a7;
  text-align: start;
  text-transform: capitalize;
}

.show_groups table td {
  background-color: #ffffff;
}
.show_groups td,
.show_groups th {
  padding: 10px;
}
